*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 100%;
    height: 100vh;
    background-color:#437592;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .calculater{
    background:#577372;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container .calculater form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    background: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
    box-shadow: -8px -8px 15px rgba(125,250,245, 0.1),5px 5px 15px rgba(125,250,245, 0.2);
    transition: 0.1s;
    cursor: pointer;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    color: white;
}

.container .calculater form input:hover{
    box-shadow: inset 28px 8px 64px 10px rgba(163,16,21,1);


}

.container .calculater form  .equal{
    width: 138px;
}

.container .calculater form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.container .calculater form .display input{
    text-align: right;
    flex: 1 ;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    box-shadow:  -8px -8px 15px rgba(125,250,245, 0.1),5px 5px 15px rgba(125,250,245, 0.2);;

}

